{% extends 'base.html' %}
{% load static %}

{% block title %}Confirmar Restablecimiento de Contraseña{% endblock %}

{% block content %}
<div class="login">
    <div id="container">
        <h2>Confirmar Restablecimiento de Contraseña</h2>
        {% if validlink %}
            <form method="post">
                {% csrf_token %}
                <div class="form-row">
                    <label for="new_password">Nueva Contraseña:</label>
                    <input required class="w-full p-2 mt-1 border border-gray-300 rounded-md" type="password" id="new_password" name="new_password" required>
                </div>
                <div class="form-row">
                    <label for="new_password_confirm">Confirmar Nueva Contraseña:</label>
                    <input required class="w-full p-2 mt-1 border border-gray-300 rounded-md" type="password" id="new_password_confirm" name="new_password_confirm" required>
                </div>
                
                <button class="confirm-button full-width-button" type="submit">Restablecer Contraseña</button>                
            </form>
        {% else %}
            <p>El enlace de restablecimiento de contraseña no es válido.</p>
        {% endif %}
        {% if messages %}
            <ul class = "messages">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</div>
{% endblock %}