{% extends 'base.html' %}
{% load static %}
{% block title %} Restablecer Contraseña {% endblock %}


{% block content %}

<div class="login">
    <div id="container">
        <center><h2>Restablecer Contraseña</h2></center><br><br>
        
        <form method="post">
            {% csrf_token %}
            <div class="form-row">
                <label for="email">Correo Electrónico:</label>
                <input required class="w-full p-2 mt-1 border border-gray-300 rounded-md" type="email" id="email" name="email" required>
            </div>
            
            <button class="confirm-button full-width-button" type="submit">Enviar Enlace de Restablecimiento</button>
            
        </form>
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</div>

{% endblock %}