{% extends "base.html" %} {% load static %}

{% block title %}Perfil de {{ first_name }}{% endblock %}

{% block page_title %}
    <span class="material-icons">manage_accounts</span>
    <h1>Perfil de {{ first_name }}</h1>
{% endblock %}

{% block content %}
<div id="profile-content">
    <div class="profile-header">
        <h1 class="profile-title">{{ first_name }} {{ last_name }}</h1>
        <div class="profile-actions">
            <button class="theme-toggle" onclick="toggleTheme()">
                <span class="material-icons">dark_mode</span>
            </button>
            <a href="{% url 'logout' %}" class="logout-button">
                <span class="material-icons">logout</span>
            </a>
        </div>
    </div>
    <div id="profile-data" class="card">
        <ul class="profile-list">
            <li><span class="profile-label">Correo Electrónico:</span> <span class="profile-value">{{ email|default_if_none:"No registrado" }}</span></li>
            <li><span class="profile-label">Tipo de dieta:</span> <span class="profile-value">{% if diet == 'omnivora' %}Omnívora{% elif diet == 'vegana' %}Vegana{% elif diet == 'vegetariana' %}Vegetariana{% elif diet == 'paleo' %}Paleo{% elif diet == 'cetogenica' %}Cetogénica{% else %}No registrado{% endif %}</span></li>
            <li><span class="profile-label">Peso:</span> <span class="profile-value">{% if weight and weight != 0 %}{{ weight|floatformat:0 }} kg{% else %}No registrado{% endif %}</span></li>
            <li><span class="profile-label">Edad:</span> <span class="profile-value">{% if age and age != 0 %}{{ age|floatformat:0 }} años{% else %}No registrado{% endif %}</span></li>
            <li><span class="profile-label">Altura:</span> <span class="profile-value">{% if height and height != 0 %}{{ height|floatformat:0 }} cm{% else %}No registrado{% endif %}</span></li>
            <li><span class="profile-label">IMC:</span> <span class="profile-value">{% if imc and imc != 0 %}{{ imc }}{% else %}No registrado{% endif %}</span></li>
            <li><span class="profile-label">¿Fumador?:</span> <span class="profile-value">{% if smoker == True %}Sí{% elif smoker == False %}No{% else %}No registrado{% endif %}</span></li>
            <li><span class="profile-label">Horas de ejercicio semanal:</span> <span class="profile-value">{% if weekly_exercise_hours and weekly_exercise_hours != 0 %}{{ weekly_exercise_hours }}{% else %}No registrado{% endif %}</span></li>
            <li><span class="profile-label">Objetivo:</span> <span class="profile-value">{% if goal == 'ganar_peso' %}Ganar Peso{% elif goal == 'ganar_musculatura' %}Ganar Musculatura{% elif goal == 'perder_peso' %}Perder Peso{% elif goal == 'mantener_peso' %}Mantener Peso{% elif goal == 'mejorar_condicion_fisica' %}Mejorar Condición Física{% else %}No registrado{% endif %}</span></li>
            <li><span class="profile-label">¿Acceso a gimnasio?:</span> <span class="profile-value">{% if gym_access == True %}Sí{% elif gym_access == False %}No{% else %}No registrado{% endif %}</span></li>
        </ul>
    </div>
    <button id="edit-button" class="floating-button material-symbols-outlined">
        edit
    </button>
</div>

<!-- Modal -->
<div id="edit-modal" class="modal">
    <div class="modal-content">
        <span class="close-button material-icons">close</span>
        <h2>Editar Perfil</h2>
        <form id="edit-profile-form" method="post" action="{% url 'profile' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="first_name">Nombre:</label>
                <input type="text" id="first_name" name="first_name" value="{{ first_name|default_if_none:'' }}" required>
            </div>
            
            <div class="form-group">
                <label for="last_name">Apellidos:</label>
                <input type="text" id="last_name" name="last_name" value="{{ last_name|default_if_none:'' }}" required>
            </div>

            <div class="form-group">
                <label for="age">Edad:</label>
                <input type="number" id="age" name="age" value="{{ age|default_if_none:0 }}">
            </div>

            <div class="form-group">
                <label for="diet">Tipo de dieta:</label>
                <select id="diet" name="diet">
                    <option value="omnivora" {% if diet == 'omnivora' %}selected{% endif %}>Omnívora</option>
                    <option value="vegana" {% if diet == 'vegana' %}selected{% endif %}>Vegana</option>
                    <option value="vegetariana" {% if diet == 'vegetariana' %}selected{% endif %}>Vegetariana</option>
                    <option value="paleo" {% if diet == 'paleo' %}selected{% endif %}>Paleo</option>
                    <option value="cetogenica" {% if diet == 'cetogenica' %}selected{% endif %}>Cetogénica</option>
                </select>
            </div>

            <div class="form-group">
                <label for="weight">Peso (kg):</label>
                <input type="number" step="0.01" id="weight" name="weight" value="{{ weight|default_if_none:0 }}">
            </div>

            <div class="form-group">
                <label for="height">Altura (cm):</label>
                <input type="number" step="0.01" id="height" name="height" value="{{ height|default_if_none:0 }}">
            </div>

            <div class="form-group">
                <label for="imc">IMC:</label>
                <input type="float" id="imc" name="imc" value="{% if imc %}{{ imc }}{% else %}0{% endif %}" readonly>
            </div>

            <div class="form-group">
                <label for="smoker">¿Fumador?</label>
                <div class="toggle-switch">
                    <input type="checkbox" id="smoker" name="smoker" {% if smoker %}checked{% endif %}>
                    <label for="smoker"></label>
                </div>
            </div>

            <div class="form-group">
                <label for="weekly_exercise_hours">Horas de ejercicio semanal:</label>
                <input type="number" step="0.01" id="weekly_exercise_hours" name="weekly_exercise_hours" value="{{ weekly_exercise_hours|default_if_none:0 }}">
            </div>

            <div class="form-group">
                <label for="goal">Objetivo:</label>
                <select id="goal" name="goal">
                    <option value="" {% if goal == None %}selected{% endif %}></option>
                    <option value="ganar_peso" {% if goal == 'ganar_peso' %}selected{% endif %}>Ganar Peso</option>
                    <option value="ganar_musculatura" {% if goal == 'ganar_musculatura' %}selected{% endif %}>Ganar Musculatura</option>
                    <option value="perder_peso" {% if goal == 'perder_peso' %}selected{% endif %}>Perder Peso</option>
                    <option value="mantener_peso" {% if goal == 'mantener_peso' %}selected{% endif %}>Mantener Peso</option>
                    <option value="mejorar_condicion_fisica" {% if goal == 'mejorar_condicion_fisica' %}selected{% endif %}>Mejorar Condición Física</option>
                </select>
            </div>

            <div class="form-group">
                <label for="gym_access">¿Acceso a gimnasio?</label>
                <div class="toggle-switch">
                    <input type="checkbox" id="gym_access" name="gym_access" {% if gym_access %}checked{% endif %}>
                    <label for="gym_access"></label>
                </div>
            </div>

            <button type="submit" class="submit-button">Guardar</button>
        </form>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const alturaInput = document.getElementById('height');
        const pesoInput = document.getElementById('weight');
        const imcInput = document.getElementById('imc');
        const goalSelect = document.getElementById('goal');

        function calcularIMC() {
            const altura = parseFloat(alturaInput.value) / 100; // Convertir cm a metros
            const peso = parseFloat(pesoInput.value);
            if (!isNaN(altura) && !isNaN(peso) && altura > 0) {
                const imc = (peso / (altura * altura)).toFixed(2);
                imcInput.value = imc;
            } else {
                imcInput.value = '';
            }
        }

        alturaInput.addEventListener('input', calcularIMC);
        pesoInput.addEventListener('input', calcularIMC);

        // Obtener elementos del modal
        const editButton = document.getElementById('edit-button');
        const modal = document.getElementById('edit-modal');
        const closeButton = document.querySelector('.close-button');

        // Abrir el modal
        editButton.addEventListener('click', () => {
            modal.style.display = 'block';
            // Establecer valores predeterminados si no hay datos
            if (!alturaInput.value) alturaInput.value = 0;
            if (!pesoInput.value) pesoInput.value = 0;
            if (!goalSelect.value) goalSelect.value = '';
        });

        // Cerrar el modal
        closeButton.addEventListener('click', () => {
            modal.style.display = 'none';
        });

        // Cerrar el modal al hacer clic fuera del contenido del modal
        window.addEventListener('click', (event) => {
            if (event.target === modal) {
                modal.style.display = 'none';
            }
        });
    });
</script>
{% endblock %}

{% block extra_css %}
<style>
    .profile-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
        padding: 15px;
    }

    .profile-title {
        font-size: 1.5rem;
        font-weight: bold;
        text-align: center;
        margin-bottom: 10px;
    }

    .profile-actions {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 200px;
    }

    .profile-list {
        list-style-type: none;
        padding: 0 15px;
    }

    .profile-list li {
        margin-bottom: 15px;
        display: flex;
        flex-direction: column;
    }

    .profile-label {
        font-weight: bold;
        margin-bottom: 5px;
        font-size: 0.9rem;
    }

    .profile-value {
        color: var(--on-surface-color);
        font-size: 1rem;
    }

    .form-group {
        margin-bottom: 20px;
    }

    .form-group label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
        font-size: 0.9rem;
    }

    .form-group input,
    .form-group select {
        width: 100%;
        padding: 10px;
        border: 1px solid var(--primary-color);
        border-radius: 24px;
        font-size: 16px;
    }

    .toggle-switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }

    .toggle-switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .toggle-switch label {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        transition: .4s;
        border-radius: 34px;
    }

    .toggle-switch label:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        transition: .4s;
        border-radius: 50%;
    }

    .toggle-switch input:checked + label {
        background-color: var(--primary-color);
    }

    .toggle-switch input:checked + label:before {
        transform: translateX(26px);
    }

    .submit-button {
        width: 100%;
        padding: 12px;
        background-color: var(--primary-color);
        color: var(--on-primary-color);
        border: none;
        border-radius: 24px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .submit-button:hover {
        background-color: var(--primary-dark);
    }

    .modal-content {
        padding: 20px;
        border-radius: 24px;
    }

    .close-button {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 24px;
        cursor: pointer;
    }


    @media (max-width: 600px) {
        .profile-header {
            padding: 10px;
        }

        .profile-title {
            font-size: 1.2rem;
        }

        .profile-list {
            padding: 0 10px;
        }

        .profile-label,
        .profile-value {
            font-size: 0.9rem;
        }

        .form-group input,
        .form-group select {
            font-size: 14px;
        }

        .submit-button {
            font-size: 14px;
        }


    }

    .profile-data {
        margin: 
    }
</style>
{% endblock %}