{% extends "base.html" %}
{% block title %}Página de Registro{% endblock %}
{% block content %}
<h1 class="text-center text-2xl font-bold text-gray-800">Registro de Usuario</h1>
<p class="text-center text-gray-600">Por favor, ingresa tus datos:</p>
<form action="/perfil/signup/" method="post" class="max-w-lg mx-auto bg-white p-6 rounded-lg shadow-md">
    {% csrf_token %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <label for="first_name" class="block mt-4 text-gray-600">Nombre:</label>
    <input type="text" id="first_name" name="first_name" required class="w-full p-2 mt-1 border border-gray-300 rounded-md">
    
    <label for="last_name" class="block mt-4 text-gray-600">Apellidos:</label>
    <input type="text" id="last_name" name="last_name" required class="w-full p-2 mt-1 border border-gray-300 rounded-md">
    
    <label for="email" class="block mt-4 text-gray-600">Correo Electrónico:</label>
    <input type="email" id="email" name="email" required class="w-full p-2 mt-1 border border-gray-300 rounded-md">
    
    <label for="password" class="block mt-4 text-gray-600">Contraseña:</label>
    <input type="password" id="password" name="password" required class="w-full p-2 mt-1 border border-gray-300 rounded-md">
    
    <label for="diet" class="block mt-4 text-gray-600">Tipo de dieta:</label>
    <input type="text" id="diet" name="diet" class="w-full p-2 mt-1 border border-gray-300 rounded-md">
    
    <label for="weight" class="block mt-4 text-gray-600">Peso (kg):</label>
    <input type="number" step="0.01" id="weight" name="weight" class="w-full p-2 mt-1 border border-gray-300 rounded-md">
    
    <label for="height" class="block mt-4 text-gray-600">Altura (cm):</label>
    <input type="number" step="0.01" id="height" name="height" class="w-full p-2 mt-1 border border-gray-300 rounded-md">
    
    <label for="smoker" class="block mt-4 text-gray-600">¿Fumador?</label>
    <input type="checkbox" id="smoker" name="smoker" class="mt-1">
    
    <label for="weekly_exercise_hours" class="block mt-4 text-gray-600">Horas de ejercicio semanal:</label>
    <input type="number" step="0.01" id="weekly_exercise_hours" name="weekly_exercise_hours" class="w-full p-2 mt-1 border border-gray-300 rounded-md">
    
    <input type="submit" value="Registrar" class="w-full mt-6 p-2 bg-primary text-on-primary-color rounded-md cursor-pointer hover:bg-primary-foreground">
</form>
{% endblock %}