{% extends "base.html" %}
{% load static %}
{% block title %}Rutina generada{% endblock %}
{% block content %}
<div class="top-app-bar">
    <span class="material-icons" style="vertical-align: middle; font-size: 24px;">fitness_center</span>
    <h1 style="display: inline; vertical-align: middle;">Rutinas de Ejercicios</h1>
</div>
<div class="card-container">
    {% for routine in exercise_routines %}
        {% for ejercicio in routine.routine.rutina %}
            <div class="card">
                {% if ejercicio.i %}
                    <span class="difficulty">Dificultad: </span>
                    <span class="difficulty {% if ejercicio.i == 'Baja' %}beginner{% elif ejercicio.i == 'Media' %}intermediate{% else %}advanced{% endif %}">{{ ejercicio.i }}</span>
                {% endif %}
                <h2>{{ ejercicio.nombre }}</h2>
                <p>{{ ejercicio.desc }}</p>
                <ul>
                    {% if ejercicio.duracion %}
                        <li><i class="material-icons" style="vertical-align: middle; font-size: 20px;">schedule</i> Duración: {{ ejercicio.duracion }}</li>
                    {% endif %}
                    {% if ejercicio.rep %}
                        <li><i class="material-icons" style="vertical-align: middle; font-size: 20px;">replay</i> Repeticiones: {{ ejercicio.rep }}</li>
                    {% endif %}
                    {% if ejercicio.series %}
                        <li><i class="material-icons" style="vertical-align: middle; font-size: 20px;">replay</i> Series: {{ ejercicio.series }}</li>
                    {% endif %}
                    {% if ejercicio.sesiones %}
                        <li><i class="material-icons" style="vertical-align: middle; font-size: 20px;">fitness_center</i> Sesiones: {{ ejercicio.sesiones }}</li>
                    {% endif %}
                </ul><br>
                {% if ejercicio.advertencia %}
                    <p class="warning">{{ ejercicio.advertencia }}</p>
                {% endif %}
            </div>
        {% endfor %}
    {% endfor %}
</div>

<!-- Botón flotante -->
<button class="floating-button material-symbols-outlined" id="delete-routine-button" onclick="document.getElementById('confirmation-modal').style.display='block'">
    monitor_weight_gain
</button>

<!-- Modal de confirmación -->
<div id="confirmation-modal" class="modal">
    <div class="modal-content">
        <span class="close-button" onclick="document.getElementById('confirmation-modal').style.display='none'">&times;</span>
        <h2>Confirmación</h2>
        <p>¿Estás seguro de que deseas generar una rutina nueva con nuevos datos?</p>
        <form method="post" action="{% url 'delete_routine' %}">
            {% csrf_token %}
            <button type="submit" class="confirm-button">Generar</button>
            <button type="button" class="cancel-button" onclick="document.getElementById('confirmation-modal').style.display='none'">Cancelar</button>
        </form>
    </div>
</div>
{% endblock %}