<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Last-Modified" content="0">
    <meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <title>{% block title %}Shape&Plate{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="icon" href="{% static 'img/favicon.png' %}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <script src="{% static 'js/theme.js' %}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <script>
        tailwind.config = {
            theme: {
                extend: {
                    borderRadius: {
                        'none': '0',
                        'sm': '0.125rem',
                        DEFAULT: '24px', // Cambia el valor por defecto a 24px
                        'md': '0.375rem',
                        'lg': '0.5rem',
                        'full': '9999px',
                    },
                    colors: {
                        primary: '#343d42', // Color primario
                        'primary-foreground': '#ffffff', // Color de primer plano primario
                        secondary: '#03dac6', // Color secundario
                        background: '#f4f4f4', // Color de fondo
                        surface: '#ffffff', // Color de superficie
                        error: '#b00020', // Color de error
                        'on-primary': '#ffffff', // Color sobre primario
                        'on-secondary': '#000000', // Color sobre secundario
                        'on-background': '#000000', // Color sobre fondo
                        'on-surface': '#000000', // Color sobre superficie
                        'on-error': '#ffffff', // Color sobre error
                    },
                },
            },
        }
    </script>
</head>
<body>
    <div id="loading-screen" class="loading-screen">
        <div class="spinner"></div>
    </div>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    <nav class="fixed bottom-0 left-0 right-0 bg-primary py-4 px-4 flex justify-around items-center md:hidden rounded-t-lg navbar-high-zindex">
        <button class="focus:outline-none rounded-full nav-item {% if request.path == '/workout/' %}active{% endif %}" onclick="window.location.href='/workout/'">
            <span class="material-icons text-primary-foreground">fitness_center</span>
        </button>
        <button class="focus:outline-none rounded-full nav-item {% if request.path == '/plate' %}active{% endif %}" onclick="window.location.href='/plate'">
            <span class="material-icons text-primary-foreground">restaurant</span>
        </button>
        <button class="focus:outline-none rounded-full nav-item {% if request.path == '/perfil/' %}active{% endif %}" onclick="window.location.href='/perfil/'">
            <span class="material-icons text-primary-foreground">person</span>
        </button>
    </nav>
    <script>
        function toggleTheme() {
            const currentTheme = document.documentElement.getAttribute('data-theme');
            const newTheme = currentTheme === 'dark' ? 'light' : 'dark';
            document.documentElement.setAttribute('data-theme', newTheme);
            localStorage.setItem('theme', newTheme);
        }

        // Aplica el tema guardado en localStorage al cargar la página
        const savedTheme = localStorage.getItem('theme') || 'light';
        document.documentElement.setAttribute('data-theme', savedTheme);

        document.addEventListener("DOMContentLoaded", function() {
            var loader = document.getElementById('loading-screen');
            loader.style.display = 'none';
            console.log('Loader oculto');
        
            document.querySelectorAll('nav button').forEach(function(button) {
                button.addEventListener('click', function() {
                    loader.style.display = 'flex';
                    console.log('Loader mostrado');
                });
            });
        });
    </script>
</body>
</html>