:root {
    --primary-color: #6200ee; /* Color primario */
    --primary-foreground-color: #ffffff; /* Color de primer plano primario */
    --secondary-color: #03dac6; /* Color secundario */
    --background-color: #f4f4f4; /* Color de fondo */
    --surface-color: #ffffff; /* Color de superficie */
    --error-color: #b00020; /* Color de error */
    --on-primary-color: #ffffff; /* Color sobre primario */
    --on-secondary-color: #000000; /* Color sobre secundario */
    --on-background-color: #000000; /* Color sobre fondo */
    --on-surface-color: #000000; /* Color sobre superficie */
    --on-error-color: #ffffff; /* Color sobre error */
}

:root[data-theme='dark'] {
    --primary-color: #212121;
    --primary-foreground-color: #ffffff;
    --secondary-color: #333333;
    --background-color: #121212;
    --surface-color: #1e1e1e;
    --error-color: #cf6679;
    --on-primary-color: #ffffff;
    --on-secondary-color: #ffffff;
    --on-background-color: #ffffff;
    --on-surface-color: #ffffff;
    --on-error-color: #000000;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
    color: var(--on-background-color);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
    padding: 20px;
    background-color: var(--surface-color);
    border-radius: 24px; /* Cambiado a 24px */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 80px;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--on-surface-color);
    font-weight: 500;
}

button {
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: var(--on-primary-color);
    border: none;
    border-radius: 24px; /* Cambiado a 24px */
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

button:hover {
    background-color: var(--primary-color);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

button:active {
    background-color: var(--primary-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

input, select {
    width: 100%;
    padding: 12px;
    margin-top: 8px;
    border: 1px solid #ccc;
    border-radius: 24px; /* Cambiado a 24px */
    background-color: var(--surface-color);
    color: var(--on-surface-color);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input:focus, select:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 0 2px rgba(98, 0, 238, 0.2);
    outline: none;
}

.fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--primary-color);
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top-left-radius: 24px; /* Cambiado a 24px */
    border-top-right-radius: 24px; /* Cambiado a 24px */
}

@media (min-width: 768px) {
    .fixed {
        display: none;
    }
}

.theme-toggle, .logout-button {
    width: 40px; /* Ajusta el tamaño según sea necesario */
    height: 40px; /* Ajusta el tamaño según sea necesario */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    color: var(--on-primary-color);
    border: none;
    border-radius: 50%; /* Hace que los botones sean redondos */
    cursor: pointer;
    font-size: 1.25rem; /* Tamaño del icono */
    transition: background-color 0.3s ease;
}

.theme-toggle:hover, .logout-button:hover {
    background-color: var(--primary-color-hover);
}

.theme-toggle:active, .logout-button:active {
    background-color: var(--primary-color-active);
}

.data-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background: var(--surface-color);
    border-radius: 24px; /* Cambiado a 24px */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.exercise {
    margin-bottom: 20px;
}

.exercise h3 {
    margin: 0;
    color: var(--secondary-color);
}

.exercise p {
    margin: 5px 0;
    color: var(--on-surface-color);
}

.exercise img {
    max-width: 100%;
    height: auto;
    border-radius: 24px; /* Cambiado a 24px */
}

.construction-warning {
    background-color: var(--secondary-color);
    color: var(--on-secondary-color);
    padding: 10px;
    text-align: center;
    border-radius: 24px; /* Cambiado a 24px */
    margin-bottom: 20px;
}

.skeleton-loader {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.skeleton-avatar {
    width: 100px;
    height: 100px;
    background-color: #ddd;
    border-radius: 24px; /* Cambiado a 24px */
}

.skeleton-text {
    width: 80%;
    height: 20px;
    background-color: #ddd;
    border-radius: 24px; /* Cambiado a 24px */
}

.skeleton-text.short {
    width: 60%;
}

.recipe {
    background-color: var(--surface-color);
    border: 1px solid #ccc;
    border-radius: 24px; /* Cambiado a 24px */
    padding: 20px;
    margin-bottom: 20px;
}

.recipe h2 {
    margin-top: 0;
    color: var(--on-surface-color);
}

.recipe p {
    color: var(--on-surface-color);
}