.current-meal, .today-workout {
    margin-bottom: 2dvh;
}

.card h2 {
    display: flex;
    align-items: center;
    gap: 1dvh;
    margin-bottom: 2dvh;
}

.meal-content {
    background-color: var(--surface-color);
    border-radius: 2dvh;
    padding: 2dvh;
}

.meal-time {
    font-size: 1.4dvh;
    color: var(--primary-color);
    margin-bottom: 1dvh;
}

.exercise-item {
    display: flex;
    align-items: center;
    gap: 1.5dvh;
    padding: 1.5dvh;
    background-color: var(--surface-color);
    border-radius: 2dvh;
    margin-bottom: 1dvh;
}

.exercise-status .material-icons {
    color: var(--primary-color);
    font-size: 2.5dvh;
}

.exercise-details h3 {
    font-size: 1.6dvh;
    margin: 0;
    margin-bottom: 0.5dvh;
}

.exercise-details p {
    font-size: 1.4dvh;
    margin: 0;
    color: var(--on-surface-secondary-color);
}

.workout-list {
    display: flex;
    flex-direction: column;
    gap: 1dvh;
}
