{% extends "base.html" %}
{% load static %}
{% block title %}Recetas Personalizadas{% endblock %}
{% block page_title %}
    <span class="material-icons">restaurant_menu</span>
    Recetas Personalizadas
{% endblock %}
{% block top_app_bar_right %}
    <button class="app-bar-button" id="delete-routine-button" onclick="document.getElementById('confirmation-modal').style.display='block'">
        <span class="material-icons">add</span>
        <span class="button-text">Nueva Receta</span>
    </button>
{% endblock %}
{% block content %}
<style>
    .card-content {
        text-align: left;
    }
    .instructions ol {
        padding-left: 20px;
    }
    .instructions li {
        margin-bottom: 10px;
    }
</style>
<div class="top-app-bar">
    <span class="material-icons" style="vertical-align: middle; font-size: 24px;">menu_book</span>
    <h1 style="display: inline; vertical-align: middle;">Recetas Personalizadas</h1>
</div>
{% if recetas_por_dia %}
<div class="card-container">
    <div class="card">
        <h2>¡Recuerda!</h2>
        <p>Las recetas se actualizan cada vez que generas una nueva rutina de ejercicios ya que se adaptan a tus necesidades nutricionales.</p>
        <p>¡No olvides revisarlas!</p>
    </div>
</div>
<div class="card-container">
    {% for dia, recetas_dia in recetas_por_dia.items %}
        <div class="day-card">
            <h2 class="day-title">{{ dia }}</h2>
            {% for receta in recetas_dia %}
                <div class="accordion">
                    <div class="accordion-header" onclick="toggleAccordion(this)">
                        <h3>{{ receta.nombre }}</h3>
                    </div>
                    <div class="accordion-content">
                        <div class="card-content">
                            <p class="description">{{ receta.desc }}</p>
                            <ul class="details">
                                <li><strong>Tiempo de preparación:</strong> {{ receta.tiempo }}</li>
                                <li><strong>Dificultad:</strong> {{ receta.dificultad }}</li>
                            </ul><br>
                            <div class="ingredients">
                                <strong>Ingredientes:</strong>
                                <ul>
                                    {% for ingrediente in receta.ingredientes %}
                                        <li>{{ ingrediente }}</li>
                                    {% endfor %}
                                </ul>
                            </div><br>
                            <div class="instructions">
                                <strong>Instrucciones:</strong>
                                <ol>
                                    {% for paso in receta.instrucciones %}
                                        <li>{{ paso }}</li>
                                    {% endfor %}
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
</div>

<script>
    function toggleAccordion(element) {
        const content = element.nextElementSibling;
        if (content.style.display === "block") {
            content.style.display = "none";
        } else {
            content.style.display = "block";
        }
    }
</script>
{% else %}
<div class="card-container">
    <div class="card">
        <h2>No hay recetas disponibles</h2>
        <p>Genera una nueva rutina de ejercicios para obtener recetas personalizadas.</p>
    </div>
</div>
{% endif %}
<button class="floating-button material-symbols-outlined" id="delete-routine-button" onclick="document.getElementById('confirmation-modal').style.display='block'">
    local_dining
</button>

<!-- Modal de confirmación -->
<div id="confirmation-modal" class="modal">
    <div class="modal-content">
        <span class="close-button" onclick="document.getElementById('confirmation-modal').style.display='none'">&times;</span>
        <h2>Confirmación</h2>
        <p>¿Estás seguro de que deseas generar nuevas recetas?</p>
        <form method="post" action="{% url 'delete_recipe' %}">
            {% csrf_token %}
            <button type="submit" class="confirm-button">Generar</button>
            <button type="button" class="cancel-button" onclick="document.getElementById('confirmation-modal').style.display='none'">Cancelar</button>
        </form>
    </div>
</div>
{% endblock %}